/*-------------------------- PRESETS ---------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "Strawford Regular";
  src: url("../../../textfonts/Strawford-Regular.ttf");
}

@font-face {
  font-family: "Strawford Bold";
  src: url("../../../textfonts/Strawford-Bold.ttf");
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 54%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 51%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Strawford Regular";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h3 {
  font-size: 3rem;
  color: #1b201b;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.nav {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 2rem;
  font-weight: 900;
  font-family: "Strawford Bold";
  color: #eeeff1;
}

.nav__menu {
  display: block;
  background: transparent;
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav__menu div {
  height: 2px;
  width: 3.3rem;
  background-color: #eeeff1;
  margin: 7px 0;
}

.nav__menu div:last-child {
  width: 2rem;
  margin-left: auto;
}

header {
  background-color: #22201f;
  height: 100vh;
}

header .hero {
  display: flex;
  align-items: center;
  color: #eeeff1;
}

header .hero__left {
  padding: 6rem 0;
  width: 70%;
}

header .hero__left h1 {
  font-size: 5.5rem;
  max-width: 30rem;
  line-height: 1;
  margin-bottom: 6rem;
}

header .hero__left--box {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

header .hero__left--box span {
  width: 30%;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

header .hero__left--box span img {
  width: 5rem;
  height: 5rem;
  display: block;
  margin-top: 2.5rem;
}

header .hero__left--box p {
  width: 60%;
}

header .hero__right {
  text-align: right;
  position: relative;
  width: 30%;
}

header .hero__right img {
  height: 48rem;
  width: auto;
}

header .hero__right::before {
  content: '';
  position: absolute;
  top: 5rem;
  left: -10rem;
  width: 25rem;
  height: 25rem;
  background-image: url("../../../assets/2.jpg");
  background-size: cover;
}

section {
  padding: 15rem 0;
}

.works {
  background: #f4f6f8;
}

.works__grid {
  display: flex;
}

.works__grid--left, .works__grid--right {
  flex: 1;
}

.works__grid--left {
  padding-right: 3rem;
}

.works__grid--left > div {
  margin-bottom: 4rem;
}

.works__grid--left > div h3 {
  margin-bottom: 4rem;
}

.works__grid--left > div .box {
  display: flex;
  justify-content: space-between;
}

.works__grid--left > div .box * {
  flex: 1;
}

.works__grid--left > div .box span {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #B4B4B4;
  font-weight: 600;
}

.works__grid--left > div .box p {
  color: #B4B4B4;
}
