.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    border: 1px solid white;
    padding: 1rem 4rem;
    font-weight: 500;
    transition: all .3s ease-in;
}

.btn-white {
    background-color: $color-2;
    color: $color-4;

    &:hover {
        opacity: .6;
    }
}

.btn-transparent {
    background-color: transparent;
    color: $color-2;

    &:hover {
        background-color: $color-2;
        color: $color-4;
    }
}