.nav {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        font-size: 2rem;
        font-weight: 900;
        font-family: "Strawford Bold";
        color: $color-1;
    }

    &__menu {
        display: block;
        background: transparent;
        position: relative;
        border: none;
        outline: none;
        cursor: pointer;

        div {
            height: 2px;
            width: 3.3rem;
            background-color: $color-1;
            margin: 7px 0;
        }

        div:last-child {
            width: 2rem;
            margin-left: auto;
        }
    }
}